/* 内容区开始了 */

/* 右侧的伸缩栏 */

#container {
    position: relative;
    z-index: 1;
    margin-bottom: 0;
}

.pt_pdp {
    overflow-x: initial;
}

.sticky-atb-outer-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    min-width: 500px;
    min-height: 65px;
    background: #ffffff;
}

.sticky-atb-outer-wrapper .stick-atb-product-info .sticky-atb-wrapper {
    padding: 5px 10px;
}

.stick-atb-product-info .sticky-atb-wrapper .image {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5%;
    width: 30%;
    text-align: right;
}

.sticky-atb-wrapper .image>img {
    max-height: 55px;
    max-width: none;
    width: 100px;
}

.stick-atb-product-info .sticky-atb-wrapper .name-price {
    display: inline-block;
    vertical-align: middle;
    width: 24%;
    margin: 0;
    text-align: left;
}

.sticky-atb-wrapper .name-price>.price {
    display: inline-block;
    font-size: 22px;
    font-weight: 600;
    margin-top: 0;
    white-space: nowrap;
}

.stick-atb-product-info .sticky-atb-wrapper .button-container {
    width: 39%;
    vertical-align: middle;
    position: relative;
    display: inline-block;
}

.sticky-atb-wrapper .button-container>.add-to-cart {
    margin-top: 0;
    border-radius: 0;
    height: 48px;
    width: 100%;
}

.sticky-atb-outer-wrapper button.add-to-cart .longlabel, .lnr {
    display: inline;
    font-size: 16px;
}

/* 详情页的内容区 */

.product-detail .product-info {
    background-color: transparent;
    padding: 2em 1em;
    color: #232323;
    font-size: 13px;
    line-height: 1.4;
}

.row {
    max-width: 1200px;
}

.row.small-collapse {
    margin-left: auto;
    margin-right: auto;
}

.row.small-collapse .medium-7 {
    width: 58.33333333%;
    /* min-height: 2248px; */
}

/* .pt_pdp .product-info .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
} */

.row.small-collapse .medium-5 {
    width: 41.66666667%;
    min-height: 685.8px;
}

.product-gallery {
    position: relative;
    /* height: 2248px */
}

.product-gallery .product-left {
    float: left;
    width: 102px;
    height: 407px;
}

.product-left .product-left-box .product-left-item {
    margin-bottom: 10px;
}

.product-left .product-left-box .active {
    border: 2px #D8231D solid;
}

.product-left .product-left-box .product-left-item .normal>img {
    width: 100%;
    height: 100%;
}

/* --------------------------------- */

.product-gallery .product-right {
    float: right;
    width: 80%;
    /* max-height: 2248px; */
}

.product-gallery .product-right .normalPic {
    width: 100%;
    min-height: 542px;
    background-color: #f1f1f1;
}

.product-gallery .product-right .product-right-bigPic {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.small-12 {
    width: 100%;
}

.pt_pdp .product-info .gender-type {
    font-size: 18px;
    font-weight: 400;
}

.pt_pdp .product-info .product-pricing.toppage .price {
    font-size: 18px;
    font-weight: 400;
}

.pt_pdp .product-info .variant-selector-container-exp93 .product-name {
    font-weight: 700;
}

.product-detail .product-info .product-name {
    font-size: 24px;
}

.pt_pdp .product-info .variant-selector-container-exp93 .variant-selector-container-color-exp93 .selected-color {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: #000;
    letter-spacing: 1.2px;
}

.product-detail .product-info .selected-color {
    /* font-weight: 700; */
    margin: 0 0 12px;
    /* display: none; */
}

.pt_pdp .product-info .variant-selector-container-exp93 .variant-selector-container-color-exp93 .selected-color .insert {
    font-size: 14px;
    letter-spacing: initial;
    font-weight: 300;
    text-transform: initial;
}

.product-detail .product-info .selected-color .insert {
    /* font-size: 13px;
    font-style: normal;
    font-weight: 300; */
    display: inline;
}

.detail-pic {
    max-height: 72px;
    margin-bottom: 20px;
}

.detail-pic .detail-pic-box .detailPicItem {
    width: 100px;
    height: 72px;
}

.detailPicItem {
    background: url('https://nb.scene7.com/is/image/NB/m990n2_nb_02_i?$pdpThumbPict2x$&extend=10,10,10,10') no-repeat;
    background-size: 100%;
    padding: 0 7px;
    border-bottom: 3px solid #CF0A2C;
}

.pt_pdp .sizefitlink {
    position: absolute;
    right: 0;
    top: 5px;
    z-index: 1;
}

.product-detail .product-info .tool {
    padding-top: 0;
    padding-bottom: 1em;
    white-space: nowrap;
    display: inline-block;
    margin-right: 1em;
}

.product-detail .product-info .tool button.nostyle {
    border: 1px solid transparent;
    font-size: 13px;
    font-weight: 300;
}

.pt_pdp .sizefitlink button.size-chart-trigger {
    text-decoration: underline;
}

button.nostyle {
    background: 0 0;
    border: none;
    box-shadow: none!important;
    color: #000;
    display: inline-block;
    font-size: 1em;
    margin: 0;
    outline: none;
    padding: 0;
    font-family: inherit;
    font-weight: 400;
    letter-spacing: inherit;
    width: auto;
    -webkit-appearance: none;
}

.selector-container, .selector-container-color, .condensed-selector-container-color {
    position: relative;
    display: inline-block;
}

.selector-container .selectors, .selector-container-color .selectors, .condensed-selector-container-color .selectors {
    display: inline-block;
    margin-bottom: 8px;
    vertical-align: top;
}

.selector-container .selectors.exploded .variant-select-wrap {
    display: block;
    clear: both;
}

.product-detail .product-info.selectors-exploded-wrapper .variant-select-wrap {
    margin-top: 2px;
}

.selector-container .selectors.exploded .variant-select-wrap {
    display: block;
    clear: both;
}

.selector-container .variant-select-wrap, .selector-container-color .variant-select-wrap, .condensed-selector-container-color .variant-select-wrap {
    display: inline-block;
    vertical-align: top;
}

.selector-container, .selector-container-color, .condensed-selector-container-color {
    position: relative;
    display: inline-block;
}

.product-detail .product-info.selectors-exploded-wrapper .variant-selector-container .selector-container .variant-select-wrap .variant-select-button {
    margin: 0 0 12px;
    text-align: left;
}

.selector-container .selectors.exploded .variant-select-button.size, .selector-container .selectors.exploded .variant-select-button.width, .selector-container .selectors.exploded .variant-select-button.length {
    background: 0 0;
    height: auto;
    cursor: default;
    padding: 0;
    margin: 0 0 2px;
    min-width: 0;
    border: none;
    box-shadow: none;
}

.pt_pdp.product-detail .product-info.selectors-exploded-wrapper .selector-container .variant-select-wrap .variant-select-button .title, .pt_pdp .bisn-selector-inject .variant-select-wrap .variant-select-button .title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: #000;
    letter-spacing: 1.2px;
}

.selector-container .selectors.exploded .variant-select-button.size .title, .selector-container .selectors.exploded .variant-select-button.width .title, .selector-container .selectors.exploded .variant-select-button.length .title {
    display: inline-block;
    color: #232323;
    font-weight: 700;
    font-size: 11px;
    text-transform: none;
    margin-right: 3px;
}

.selector-container .variant-select-button .title, .selector-container-color .variant-select-button .title, .condensed-selector-container-color .variant-select-button .title {
    color: #999;
    text-transform: uppercase;
    font-style: normal;
    font-size: 11px;
    letter-spacing: .75px;
    line-height: 1.4;
    padding-top: .4em;
}

.selector-container .selectors.exploded .variant-select-button.size .title::after, .selector-container .selectors.exploded .variant-select-button.width .title::after, .selector-container .selectors.exploded .variant-select-button.length .title::after {
    content: ':';
}

.selector-container .selectors.exploded ul.variant-select {
    *zoom: 1;
    background: 0 0;
    display: block;
    margin-bottom: 0;
    margin-right: -9px;
    max-width: none;
    padding: 0;
    position: relative;
    width: auto;
}

.selector-container .variant-select.size, .selector-container .variant-select-condensed.size, .selector-container-color .variant-select.size, .selector-container-color .variant-select-condensed.size, .condensed-selector-container-color .variant-select.size, .condensed-selector-container-color .variant-select-condensed.size {
    padding: .7em;
    min-width: 275px;
}

.selector-container .variant-select-wrap .variant-select, .selector-container .variant-select-wrap .quantity-select, .selector-container-color .variant-select-wrap .variant-select, .selector-container-color .variant-select-wrap .quantity-select, .condensed-selector-container-color .variant-select-wrap .variant-select, .condensed-selector-container-color .variant-select-wrap .quantity-select {
    z-index: 110;
}

.selector-container .variant-select-wrap ul, .selector-container-color .variant-select-wrap ul, .condensed-selector-container-color .variant-select-wrap ul {
    background-color: #232323;
    padding: 7px 0;
    list-style-type: none;
    width: 56px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.selector-container .variant-select, .selector-container .variant-select-condensed, .selector-container-color .variant-select, .selector-container-color .variant-select-condensed, .condensed-selector-container-color .variant-select, .condensed-selector-container-color .variant-select-condensed {
    display: none;
    position: absolute;
    width: 100%;
    bottom: 100%;
    z-index: 91;
    margin-bottom: 7px;
}

.selector-container .selectors.exploded ul.variant-select:before, .selector-container .selectors.exploded ul.variant-select:after {
    content: " ";
    display: table;
}

.pt_pdp.product-detail .product-info.selectors-exploded-wrapper .selector-container .selectors.exploded ul.variant-select li, .pt_pdp .bisn-selector-inject .selectors.exploded ul.variant-select li {
    margin: 0 12px 12px 0;
}

.pt_pdp.product-detail .product-info.selectors-exploded-wrapper .selector-container .selectors.exploded ul.variant-select li, .pt_pdp .bisn-selector-inject .selectors.exploded ul.variant-select li {
    font-weight: 400;
}

.pt_pdp.product-detail .product-info.selectors-exploded-wrapper .selector-container .variant-select.size li, .pt_pdp .bisn-selector-inject .variant-select.size li {
    min-width: 48px;
    min-height: 48px;
    padding: 0;
}

.selector-container .selectors.exploded ul.variant-select li {
    display: inline-block;
    position: relative;
    padding: 0;
    padding: 1px;
    margin: 0 8px 8px 0;
    float: left;
    color: #232323;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    box-shadow: none;
    min-height: 44px;
    height: auto;
}

.selector-container .variant-select li, .selector-container .quantity-select li, .selector-container .variant-select-button, .selector-container-color .variant-select li, .selector-container-color .quantity-select li, .selector-container-color .variant-select-button, .condensed-selector-container-color .variant-select li, .condensed-selector-container-color .quantity-select li, .condensed-selector-container-color .variant-select-button {
    cursor: pointer;
}

.selector-container li, .selector-container-color li, .condensed-selector-container-color li {
    list-style-image: none;
    padding: .5em 0;
    text-align: center;
    color: #000000;
}

.pt_pdp.product-detail .product-info.selectors-exploded-wrapper .selector-container .variant-select.size li .line, .pt_pdp .bisn-selector-inject .variant-select.size li .line {
    font-size: 14px;
    line-height: 46px;
}

.selector-container .selectors.exploded ul.variant-select li.clickActive {
    background: black;
    color: snow;
}

/* -------------------------------------------宽度 */

.selector-container .selectors.exploded .variant-select-wrap {
    display: block;
    clear: both;
}

.product-detail .product-info.selectors-exploded-wrapper .variant-select-wrap {
    margin-top: 2px;
}

.product-detail .product-info.selectors-exploded-wrapper .variant-selector-container .selector-container .variant-select-wrap .variant-select-button {
    margin: 0 0 12px;
    text-align: left;
}

.selector-container .selectors.exploded ul.variant-select li.selected, .selector-container .selectors.exploded ul.variant-select li.selected:hover, .selector-container .selectors.exploded ul.variant-select li.selected:focus, .selector-container .selectors.exploded ul.variant-select li.selected:active {
    border: solid 1px #232323;
    background-color: #232323;
    color: #fff;
    box-shadow: none;
    padding: 1px;
}

.selector-container .selectors.exploded ul.variant-select li div.value {
    display: none;
}

.pt_pdp.product-detail .product-info.selectors-exploded-wrapper .selector-container .variant-select.width li .description, .pt_pdp .bisn-selector-inject .variant-select.width li .description {
    line-height: 32px;
}

.selector-container .selectors.exploded ul.variant-select.width li div.description {
    padding: 0 4px;
    min-width: 64px;
}

.pt_pdp.product-detail .product-info.selectors-exploded-wrapper .selector-container .variant-select.width li, .pt_pdp .bisn-selector-inject .variant-select.width li {
    min-width: 28%;
    min-height: 36px;
    font-size: 14px;
    font-weight: 600;
}

.selector-container .selectors.exploded ul.variant-select li div.description {
    width: 100%;
    padding: 0 5px;
    line-height: 44px;
    text-align: center;
}

.selector-container .variant-select.width div, .selector-container .variant-select-condensed.width div, .selector-container-color .variant-select.width div, .selector-container-color .variant-select-condensed.width div, .condensed-selector-container-color .variant-select.width div, .condensed-selector-container-color .variant-select-condensed.width div {
    display: inline-block;
}

.selector-container .selectors.exploded ul.variant-select:after {
    clear: both;
}

/* -------------------------加入购物车按钮-------------------------- */

.pt_pdp .product-info .variant-selector-container-exp93 .checkout-row .button-container {
    display: block;
}

.button-container {
    position: relative;
    /* display: inline-block; */
    vertical-align: top;
}

.pt_pdp .product-info .variant-selector-container-exp93 .add-to-cart-wrap .add-to-cart {
    height: 56px;
}

.product-info .checkout-row .button-container .add-to-cart, .product-detail .product-info .checkout-row .button-container .express-add-to-cart {
    display: block;
    height: 46px;
    width: 100%;
}

button.add-to-cart.disabled, button.add-to-cart[disabled], button.express-add-to-cart.disabled, button.express-add-to-cart[disabled], button.checkout-btn.disabled, button.checkout-btn[disabled] {
    opacity: 1;
}

button.add-to-cart, button.express-add-to-cart, button.checkout-btn {
    margin-bottom: 0;
    height: 56px;
    border: 2px solid #cf0a2c;
    box-shadow: none;
    padding: 8px 20px;
    overflow: hidden;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .05em;
    text-transform: uppercase;
    background-color: #cf0a2c;
    z-index: 100;
    cursor: pointer;
    -moz-transition: background-color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out;
    -webkit-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
    -moz-transition: border-color .1s ease-in-out;
    -o-transition: border-color .1s ease-in-out;
    -webkit-transition: border-color .1s ease-in-out;
    transition: border-color .1s ease-in-out;
}

.pt_pdp .product-info .variant-selector-container-exp93 .add-to-cart-wrap .product-pricing {
    float: left;
    line-height: 2.8;
    padding: 0;
}

.product-detail .product-info .product-pricing.hide-for-mobile {
    display: inline-block;
}

.product-detail .product-info .product-pricing {
    text-align: left;
}

.product-pricing {
    text-align: center;
    font-size: 12px;
    font-weight: 800;
    color: #000;
    line-height: 1.5;
    padding-bottom: 16px;
    letter-spacing: .05em;
}

.pt_pdp .product-info .variant-selector-container-exp93 .add-to-cart-wrap .product-pricing .price {
    font-size: 14px;
    color: #fff;
}

.pt_pdp .product-info .variant-selector-container-exp93 .add-to-cart-wrap .addto-content {
    line-height: 2.8;
    float: right;
}

.product-detail .product-info .checkout-row .button-container .add-to-cart .longlabel, .product-detail .product-info .checkout-row .button-container .express-add-to-cart .longlabel {
    display: inline;
}

button.add-to-cart .longlabel, button.add-to-cart .shortlabel, button.add-to-cart .icon-cart, button.add-to-cart .icon-express_checkout, button.express-add-to-cart .longlabel, button.express-add-to-cart .shortlabel, button.express-add-to-cart .icon-cart, button.express-add-to-cart .icon-express_checkout, button.checkout-btn .longlabel, button.checkout-btn .shortlabel, button.checkout-btn .icon-cart, button.checkout-btn .icon-express_checkout {
    position: relative;
    left: 0;
    z-index: 10;
    -moz-transition: left .3s ease-in-out;
    -o-transition: left .3s ease-in-out;
    -webkit-transition: left .3s ease-in-out;
    transition: left .3s ease-in-out;
}

/* --------------------------结算按钮----------------------------- */

.pt_pdp .product-info .variant-selector-container-exp93 .checkout-row .button-container {
    display: block;
}

/* .pt_pdp .product-info .variant-selector-container-exp93 .checkout-row .button-container .express-add-to-cart {
    margin-top: 14px;
} */

.product-detail .product-info .checkout-row .button-container .add-to-cart, .product-detail .product-info .checkout-row .button-container .express-add-to-cart {
    display: block;
    height: 56px;
    width: 100%;
}

button.express-add-to-cart {
    color: #cf0a2c;
    background-color: #fff;
}

/* 分割线 */

hr.border-ruler {
    border: solid #ddd;
    border-width: 1px 0 0;
    clear: both;
    margin: 1.25em 0 1.1875em;
    height: 0;
}

/* ------------------------经典复古，潮流百搭----------------------------- */

.pt_pdp .product-info .variant-selector-container-exp93 .shortDesc {
    color: #000;
}

/* ------------------------------产品详情---------------------------------- */

.turnoff {
    display: none;
}

.pt_pdp .product-info .variant-selector-container-exp93 .product-details {
    border: 0;
    padding-top: 0;
}

.pt_pdp .product-info .variant-selector-container-exp93 .product-details .section-title {
    margin: 0;
}

.pt_pdp .product-info .variant-selector-container-exp93 .product-details .section-title .columns {
    padding: 0;
}

.pt_pdp .product-info .variant-selector-container-exp93 .product-details .section-title .title {
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1px;
    color: #000;
}

.product-detail .section-title .title {
    margin: 0;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0;
    color: #666;
    line-height: 30px;
    font-size: 20px;
}

.pt_pdp .product-info .variant-selector-container-exp93 .product-details .lnr-chevron-down, .pt_pdp .product-info .variant-selector-container-exp93 .product-details .lnr-chevron-up {
    padding-right: 15px;
}

.pt_pdp .product-info .variant-selector-container-exp93 .product-details .lnr-chevron-down, .pt_pdp .product-info .variant-selector-container-exp93 .product-details .lnr-chevron-up {
    color: #cf0a2c;
    font-size: 15px;
    top: 7px;
    padding-right: 0;
    font-weight: 700;
    display: block;
}

.product-detail .section-title .section-toggle {
    font-size: 30px;
    color: #e5e5e5;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    text-align: right;
    padding-right: 15px;
    cursor: pointer;
}

.pt_pdp .product-info .variant-selector-container-exp93 .product-details .section-content {
    margin: 25px 10px 0;
    display: none;
}

.product-detail section.product-details, .product-detail section.details {
    background: 0 0;
    letter-spacing: .4px;
}

.pt_pdp .product-info .variant-selector-container-exp93 .product-details .details .row {
    margin-right: -.9375em;
}

.pt_pdp .product-info .variant-selector-container-exp93 .product-details .details .row {
    margin-bottom: 5px;
    /* margin-right: -.2375em; */
}

.pt_pdp .product-info .variant-selector-container-exp93 .product-details .section-content .columns.medium-12 {
    padding: 0 .9375em;
}

.pt_pdp .product-info .variant-selector-container-exp93 .product-details .details .longdescription {
    margin: 0 0 20px;
    color: #000;
}

.product-detail .product-details .longdescription, .product-detail .product-details .shortdescription {
    font-size: 12px;
    color: #666;
    margin: 20px 0;
    line-height: 1.2;
    text-align: justify;
}

.pt_pdp .product-info .variant-selector-container-exp93 .product-details .details .features {
    margin: 0;
}

.pt_pdp .product-info .variant-selector-container-exp93 .product-details .details .features ul {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.pt_pdp .product-info .variant-selector-container-exp93 .product-details .details .features ul li {
    margin-left: 17px;
}

.pt_pdp .product-info .variant-selector-container-exp93 .product-details .details .features ul li {
    color: #000;
    /* margin-left: 20px; */
}

.product-detail .product-details .features li {
    list-style-type: disc;
    font-weight: 400;
    font-size: 13px;
    /* color: #666;
    margin-left: 20px; */
    margin-bottom: 7px;
    line-height: 1.2;
}

/* ----------------------------------------------------------猜你喜欢------------------------------------------------------------------ */

.recs-complete-set-v1-wrapper+section.product-content {
    margin-top: 5em;
}

section.product-content {
    margin-top: 5em;
}

.product-detail section {
    background-color: #fff;
    padding-bottom: 1px;
}

.guanlian-wrap {
    font-size: 25px;
    width: 1180px;
    margin: auto;
}

.guanlian-wrap h2 {
    margin-bottom: 60px;
    margin-left: 8px;
}

.guanlian-wrap h2 {
    font-weight: 400;
    font-size: .9em;
    margin-left: 2.4%;
    margin-bottom: 6%;
    color: #666;
}

.guanlian-lists {
    width: 1024px;
}

.guanlian-lists {
    /* width: 768px; */
    margin: auto;
}

.guanlian-lists {
    text-align: center;
    overflow: hidden;
}

.guanlian-lists li {
    width: 25%;
    margin-bottom: 0%;
    padding: 0%;
}

.guanlian-lists li {
    float: left;
    /* width: 50%; */
    margin-bottom: 6%;
    box-sizing: border-box;
    padding: 1%;
}

.guanlian-lists .prod {
    margin-bottom: 8%;
}

.guanlian-lists .prod>a {
    color: #e21836;
}

.guanlian-lists p {
    font-size: .6em;
    padding: 0;
    margin: 0;
}

.guanlian-lists a.cdev-shop-mw-link {
    color: rgb(0, 0, 0);
    margin-top: 0px;
    font-size: 0.6em;
    font-family: 微软雅黑;
    text-decoration: none;
}

.cdev-shop-mw-link, .cdev-shop-mw-link:hover {
    display: block;
    font: 400 13px/20px 'ITC Avant Garde Gothic W04', Arial, sans-serif;
    text-transform: uppercase;
}

.cdev-shop-mw-link:after {
    content: "\e611";
    font-family: 'nbicon';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    left: 8px;
    line-height: 1;
    position: relative;
    /* speak: none; */
    top: 1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}