/* 头顶的导航栏 */

#container {
    position: relative;
    z-index: 1;
    margin-bottom: 0;
}

.breadcrumb-container {
    margin: 28px auto;
    max-width: 1200px;
}

.fullBreadcrumbs {
    position: relative;
    width: 100%;
    z-index: 9990;
}

.fullBreadcrumbs .product-categories {
    display: block;
    margin-bottom: 0;
    font-size: 13px;
}

.fullBreadcrumbs .product-categories li {
    display: inline-block;
}

.fullBreadcrumbs .product-categories .c-path {
    color: #232323;
}

.fullBreadcrumbs .product-categories .c-path-last {
    color: #999;
}

.fullBreadcrumbs .product-categories .c-slash {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

/* banner图模块 */

#cdev-hp-banner-beta-beauty-and-the-beast-kids-0015 .cdev-hp-banner-beta-img-col {
    background-color: #fff;
    background-image: url('https://www.newbalance.com.cn/on/demandware.static/-/Sites-newbalance_cn-Library/zh/dwc6e0b992/hubs/2020/5yue/990v2/1536-878s.jpg');
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
    #cdev-hp-banner-beta-beauty-and-the-beast-kids-0015 {
        background-color: #fff;
        background-image: url('https://www.newbalance.com.cn/on/demandware.static/-/Sites-newbalance_cn-Library/zh/dwc6e0b992/hubs/2020/5yue/990v2/1536-878s.jpg');
        height: 446px;
        max-width: 1200px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 960px) {
    #cdev-hp-banner-beta-beauty-and-the-beast-kids-0015 {
        background-image: url('https://www.newbalance.com.cn/on/demandware.static/-/Sites-newbalance_cn-Library/zh/dwffe49d00/hubs/2020/5yue/990v2/3840-950s.jpg');
        height: 350px;
        max-width: 1200px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}

.grid-hero {
    display: block;
    margin-bottom: 40px;
    position: relative;
    background: #ebebeb;
    z-index: 200;
}

.cdev-hp-banner-beta-wrapper.cdev-hp-banner-main {
    background: #fff no-repeat center;
    background-size: auto 100%;
}

.cdev-hp-banner-beta-wrapper {
    position: relative;
}

/* 内容列表区 */

.refineable-wrapper {
    position: relative;
}

/* 左侧list栏 */

.left-product-refine .refinements-bar {
    margin-bottom: 0;
    padding-bottom: 30px;
    text-align: left;
    border-bottom: 0;
}

.left-product-refine .refinements-bar {
    background: none;
    display: block;
    top: 0;
    z-index: 1201;
}

.medium-3 {
    width: 25%;
}

.left-product-refine .refinements-bar .selector {
    left: 0;
    position: relative;
    min-height: 0;
    width: auto;
    background-color: transparent;
    z-index: auto;
    display: inline-block;
}

.left-product-refine .refinements-bar .selector .refinements-list {
    padding: 0;
}

.left-product-refine .refinements-bar .selector .refinements-list .refinement-selector {
    border-bottom: solid #ccc 1px;
    margin: 0 0 1em 0;
    padding: 0 0 0 1em;
}

.left-product-refine .refinements-bar button.filter-select {
    color: #000;
}

.left-product-refine .refinements-bar button.filter-select {
    color: #666;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
}

.left-product-refine .refinements-bar .filter-select {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    outline: none;
    position: relative;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
    -webkit-appearance: none;
}

.left-product-refine .refinements-bar .filter-select {
    background: #fff;
    color: #666;
    border: none;
    box-shadow: none !important;
    display: block;
    font-family: "Proxima Nova W01", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .4px;
    line-height: 100%;
    margin-bottom: 10px;
    padding: 10px 10px 10px 0;
    text-align: left;
}

.left-product-refine .refinements-bar .selector .refinements-list .refinement-selector .refinement {
    margin: 0 auto;
    padding: 0;
}

.left-product-refine .refinements-bar .selector .refinements-list .refinement-selector .refinement {
    display: inline-block;
    list-style: none;
    margin-bottom: 0px;
    padding: 0;
    width: 100%;
}

.left-product-refine .refinements-bar .selector .refinements-list .refinement-selector .refinement li.checkbox {
    border: none;
    box-sizing: content-box;
    display: inline-block;
    font-size: 10px;
    font-weight: normal;
    min-height: auto;
    height: 1.5em;
    margin: 0 0 1.5em 0;
    padding: 0;
    position: relative;
    text-align: left;
    width: 100%;
    z-index: 1;
}

.left-product-refine .refinements-bar .selector .refinements-list .refinement-selector .refinement li.checkbox .refine-link {
    text-align: left;
    padding: 0;
    border: none;
}

.left-product-refine .refinements-bar .selector .refinements-list .refinement-selector .refinement .refine-link {
    content: "";
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}

.left-product-refine .refinements-bar .selector .refinements-list .refinement-selector .refinement .refine-link {
    background: #fff;
    border: none;
    color: #000;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    height: 100%;
    letter-spacing: .4px;
    line-height: 1;
    padding: 0;
    width: 25%;
}

.left-product-refine .refinements-bar .selector .refinements-list .refinement-selector .refinement .refine-link .genderRanking {
    margin-bottom: 0;
}

/* 右侧列表内容 */

.product-lists .category-grid-header, #product-lists .category-grid-header, #pgpBreadcrumbs .category-grid-header, .fullBreadcrumbs .category-grid-header {
    margin: 0 0 15px 0;
    position: relative;
}

.product-lists h1, #product-lists h1, #pgpBreadcrumbs h1, .fullBreadcrumbs h1 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2em;
    text-align: left;
    display: inline;
    letter-spacing: 0.5px;
}

.product-lists .sort-selector, #product-lists .sort-selector, #pgpBreadcrumbs .sort-selector, .fullBreadcrumbs .sort-selector {
    display: inline-block;
}

.left-product-refine .sort-selector {
    background-color: transparent;
    border-radius: 0;
    border: none;
    display: none;
    left: auto;
    margin-left: 0;
    padding: 0 0 3px 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
}

.left-product-refine .sort-selector {
    color: #a2a2a2;
    font-size: 12px;
    font-style: normal;
    margin-bottom: 16px;
    text-align: left;
}

.product-lists .sort-selector form, #product-lists .sort-selector form, #pgpBreadcrumbs .sort-selector form, .fullBreadcrumbs .sort-selector form {
    margin: 0;
}

.left-product-refine .sort-selector .sortby {
    display: inline-block;
}

.left-product-refine .sort-selector .sortby {
    text-align: left;
    width: 100%;
}

.left-product-refine .sort-selector .sortby select.sort-select {
    display: block;
}

.left-product-refine .sort-selector .sortby select.sort-select {
    border: 1px solid #999;
    /* display: none; */
    margin-bottom: 6px;
    font-weight: 300 !important;
    width: 100%;
    color: #000;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    padding: 7px 15px 9px;
}

.left-product-refine .sort-selector .sortby select.sort-select {
    display: block;
}

/* 左侧筛选框对应的条件 */

.refinement-breadcrumbs {
    font-size: 11px;
    /* display: none; */
}

.refinement-breadcrumbs .refbreads {
    display: inline-block;
}

.refinement-breadcrumbs .refinement {
    border: 1px solid #e5e5e5;
    color: #323232;
    display: inline-block;
    font-weight: bold;
    line-height: 18px;
    margin: 10px 5px 0 0;
    padding: 2px 6px;
}

.refinement-breadcrumbs .refbread-actions .refbread-actions-clear {
    /* display: none; */
    line-height: 16px;
    color: #232323;
}

.refinement-breadcrumbs .refinement .lnr {
    cursor: pointer;
}

/* 商品列表内容 */

#container.grid .product-list {
    max-width: 1090px;
    text-align: center;
    margin: 6px auto;
    padding: 0;
}

#container.grid .product-list li.tile {
    max-width: 217px;
    width: 217px;
}

.product-list .tile {
    display: inline-block;
    vertical-align: top;
}

#container .product-tile, #addToBagModal .product-tile {
    margin: 0 5px 10px;
    min-height: 359px;
    border: 0;
    padding: 0 0 10px;
    text-align: left;
}

#container .product-tile:hover, #addToBagModal .product-tile:hover {
    box-shadow: 0 3px 7px #d1d1d1;
}

.form-divider, .product-tile, .product-tile-custom, .subcategory-title {
    font-family: proxima nova w01, helvetica neue, helvetica, Helvetica, Arial, sans-serif!important;
}

.product-tile .product-image {
    display: block;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

.product-tile .product-image .shot {
    width: 100%;
    font-size: 10px;
}

#container .product-tile .product-top-spacer, #addToBagModal .product-tile .product-top-spacer {
    margin-top: 30px;
}

.product-tile .product-top-spacer {
    min-height: 55px;
}

#container .product-tile .product-name, #container .product-tile .exp-90-product-gendercat, #container .product-tile .product-pricing, #container .product-tile .product-info.product-promo.promo, #addToBagModal .product-tile .product-name, #addToBagModal .product-tile .exp-90-product-gendercat, #addToBagModal .product-tile .product-pricing, #addToBagModal .product-tile .product-info.product-promo.promo {
    padding: 0 8px;
}

#container .product-tile .product-name, #container .product-tile .product-name a, #addToBagModal .product-tile .product-name, #addToBagModal .product-tile .product-name a {
    max-height: 2.4em;
    font-weight: 800;
}

#container .product-tile .product-name, #container .product-tile .product-name a, #container .product-tile .product-pricing, #addToBagModal .product-tile .product-name, #addToBagModal .product-tile .product-name a, #addToBagModal .product-tile .product-pricing {
    color: #000;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 1.2;
    margin: 0 0 6px;
    text-align: left;
    text-transform: none;
}

#container .product-tile .product-name a {
    text-overflow: ellipsis;
    /*有些示例里需要定义该属性，实际可省略*/
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /*规定超过两行的部分截断*/
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
    /*在任何地方换行*/
}

#container .product-tile .product-name, #container .product-tile .exp-90-product-gendercat, #container .product-tile .product-pricing, #container .product-tile .product-info.product-promo.promo p, #addToBagModal .product-tile .product-name, #addToBagModal .product-tile .exp-90-product-gendercat, #addToBagModal .product-tile .product-pricing, #addToBagModal .product-tile .product-info.product-promo.promo p {
    color: #434343;
    display: block !important;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.2;
    margin: 0 0 6px;
    text-align: left;
}

#container .product-tile .product-pricing, #addToBagModal .product-tile .product-pricing {
    font-weight: 700;
}




/* 底部返回首页 */
.content-container {
    width: 100%;
    height: auto;
    padding: 100px 0px;
}


.content-container .content {
    width: 70%;
    height: auto;
    padding: 0px;
    margin: 0 auto;
    text-align: center;
}